:root {
    /* // theme color // */
    --theme-color-primary: #500aa7;
    --theme-color-secondary: #3a3a3a;
    --theme-color-low: rgb(80, 80, 80);
    --theme-color-shaded: #3e434d;
    /* // theme background // */
    --theme-background-color-primary: #f8f8fa;
    --theme-background-color-secondary: #ededed;
    --theme-background-color-low: #e0e0e0;
    /* // primary header // */
    --theme-header-background-color-primary: #f8f8fa;
    --theme-header-color-primary: rgb(22, 22, 22);
    --theme-header-hover-color-primary: #500aa7;
    /* // secondary header // */
    --theme-header-background-color-secondary: #8727fb;
    --theme-header-color-secondary: rgb(245, 245, 245);
    --theme-header-hover-color-secondary: rgb(22, 22, 22);
    /* // sidenav // */
    --theme-sidenav-background-color-primary: #f8f8fa;
    --theme-sidenav-color-primary: #3a3a3a;
    --theme-sidenav-hover-color-primary: #500aa7;
    /* // footer // */
    --theme-footer-background-color-primary: #8727fb;
    --theme-footer-color-primary: rgb(245, 245, 245);
    --theme-footer-hover-color-primary: rgb(22, 22, 22);
    /* // button // */
    --theme-button-background-color-primary: #500aa7;
    --theme-button-color-primary: rgb(241, 241, 241);
    /* // home // */
    --theme-background-color-home: #ccbaff;
    /* // blog // */
    --theme-background-color-blog: white;
    /* // brightness and contrast // */
    --theme-brightness: 1;
    --theme-contrast: 1.2;
}
body {
    background-color: var(--theme-background-color-primary);
}
.admin-login{
    padding: 100px 0;
}


.login{
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
    padding: 30px 15px;
    /* background-color: var(--theme-background-color-secondary); */
    /* box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35); */
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
}
.login h1{
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
}
.login h2{
    text-align: center;
    font-size: 16px;
}
.login p{
    text-align: center;
}
form{
    margin-top: 10px;
}
.login input{
    width:100%;
    margin-top: 20px;
    outline: none;
    padding:5px 0px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--theme-color-primary);
    font-size: 13px;
    color: var(--theme-color-secondary);
}
.login button{
    width: 100%;
    margin-top: 20px;
    outline: none;
    padding: 5px 10px;
    background-color: var(--theme-button-background-color-primary);
    color:var(--theme-button-color-primary);
    border: none;
    font-weight: 600;
    letter-spacing: 1px;
     border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.login button:hover{
    opacity: .9;
}
.login button:active{
    transform: scale(.97);
}
.login p{
    font-size: 12px;
    margin-bottom: 0;
}
.login p a{
    font-size: 12px;
    margin-bottom: 0;
    color: var(--theme-color-primary);
}


.error{
    padding: 5px;
}
.error p, small{
    color: rgb(236, 99, 99) !important;
}
@media only screen and (min-width: 576px){
    .login{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}